<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <servlet>
        <servlet-name>LoginIntro</servlet-name>
        <servlet-class>Controladores.LoginIntro</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorBicicletero</servlet-name>
        <servlet-class>Controladores.ControladorBicicletero</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorEncargado</servlet-name>
        <servlet-class>Controladores.ControladorEncargado</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorVendedor</servlet-name>
        <servlet-class>Controladores.ControladorVendedor</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginIntro</servlet-name>
        <url-pattern>/LoginIntro</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorBicicletero</servlet-name>
        <url-pattern>/ControladorBicicletero</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorEncargado</servlet-name>
        <url-pattern>/ControladorEncargado</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorVendedor</servlet-name>
        <url-pattern>/ControladorVendedor</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
